body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch-container {
  background-color: #c0f644;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.display {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.controls button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #53adea;
  color: white;
}

.controls button:hover {
  background-color: #777;
}
